body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #002366;

  /* Flex container verticale per posizionare footer in basso */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.intro-section {
  display: flex;
  align-items: center;
  background-color: #3366CC;
  color: #fff;
  padding: 2rem;
}

.profile-image img {
  width: 180px;
  height: 180px;
  border-radius: 10%;
  margin-right: 2rem;
}

.intro-text h1 {
  margin: 0;
  font-size: 2rem;
}

.main-content {
  padding: 2rem;

  /* Permette a main-content di espandersi e spingere il footer in basso */
  flex: 1;
}

section {
  margin-bottom: 2rem;
  colore: #002366;
}

h2 {
  border-bottom: 2px solid #222;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: #002366;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills li::before {
  content: "✔ ";
  color: green;
  margin-right: 0.5rem;
}

.footer {
  background-color: #3366CC;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.footer a {
  color: #002366;
  text-decoration: none;
}
