body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #002366;

  /* Flex container verticale per posizionare footer in basso */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.intro-section {
  display: flex;
  align-items: center;
  background-color: #3366CC;
  color: #fff;
  padding: 2rem;
}

.profile-image img {
  width: 180px;
  height: 180px;
  border-radius: 10%;
  margin-right: 2rem;
}

.intro-text h1 {
  margin: 0;
  font-size: 2rem;
}

.main-content {
  padding: 2rem;
  color: #002366;

  /* Permette a main-content di espandersi e spingere il footer in basso */
  flex: 1;
}

section {
  margin-bottom: 2rem;
  colore: #002366;
}

h2 {
  border-bottom: 2px solid #b8860b;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  color: #002366;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills li::before {
  content: "✔ ";
  color: green;
  margin-right: 0.5rem;
}

.download-btn button {
  background-color: #002F6C; 
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.download-btn button:hover {
  background-color: #001C3D;
}



.footer {
  background-color: #3366CC;
  color: #fff;

  /* Dimensione fissa minima del footer */
  min-height: 150px;

  /* Spaziatura interna */
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;  /* centra verticalmente */
  gap: 3rem;
  flex-wrap: wrap;
}

.footer a {
  color: #002366;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer p {
  margin: 0;
}

